
.button{
  // float: right;
  // margin-right: 32px;
  // margin-top: 24px;
  position: absolute;
  right: 24px;
  top: -2px;
}

.classification {
  margin-bottom:12px;
  text-align: left;
  color: #666666;
}

.footer{
  margin-top: 12px;
  display: flex;
  flex-direction: row-reverse;
  button:nth-last-child(1) {
    margin-right: 12px;
  }
}

.classification {
  text-align: left;
  color: #666666;
}

.newContent {
  padding-left: 24px;
  padding-right: 24px;
}


.item {
  font-size: 16px;
  margin-top: 24px;

}

.inputName{
  margin-bottom: 12px;
}


.libTitle {
  font-size: 16px;
  margin: 10px 0px 20px 0px;
  padding: 0px 10px 0px 20px;
  position: relative;
  border-bottom: 1px solid #d9d9d9;

  h3{
    margin: 0;
    font-weight: normal;
    padding-bottom: 10px;
  }

  .libClose {
    position: absolute;
    top: 2px;
    right: 20px;
    &:hover {
      color:#58a6e7;
    }
  }
  a {
    text-decoration: none;
    color: #333;
  }
}
.evaLib {
  position: relative;
}

.newQuesIcon {
  margin-left: 28px;
  margin-right: -10px;
}


// .libButton {
//   position: absolute;
//   width: 120px;
//   height: 32px;
//   line-height: 32px;
//   left: -120px;
//   top: 0px;
//   border: 1px solid #e0e0e0;
//   border-right: none;
//   background-color: #fff;
//   border-top-left-radius: 16px;
//   border-bottom-left-radius: 16px;
//   cursor: pointer;
//   padding-left: 20px;
//   i {
//     width: 10px;
//     height: 10px;
//     background-color: red;
//     display: inline-block;
//   }
//   span {
//     margin-left: 10px;
//     font-size: 14px;
//     color: #333;
//   }
// }